
.Advanced_Nano{
  color: red; 
  animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;

}
@keyframes flash {
  from {color: red;}
  to {color: black;}
}



body{
  font-family: 'Raleway', sans-serif;
  background-color: #E0E5EC;
}

.calculator{
  margin: 5em auto;
  border-radius: 1em;
  background: #FFFFFF;
  box-shadow:  20px 20px 60px #bec3c9;
}

.Change_Foil{
    
    color: red; 
    animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;

}
@keyframes flash {
  from {color: red;}
  to {color: black;}
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #6500fc;
    border-color: #6500fc;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.btn-primary{
  background-color: #6500fc;
  border-color : #6500fc;
}

.btn-primary:hover{
  background-color: #6500fc;
  border-color : #6500fc;
}

.btn-primary:active{
  background-color: #6500fc;
  border-color : #6500fc;
}

.calculator .upper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 50px;
}

.logo{
position: relative;
top:-50px;
}

input{
  text-align: center;
  outline: 0;
  border: 0;
  border-bottom: 1px solid grey;
}

h4 {
  margin: 0;
  text-align: left;
}

